@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
  @font-face {
      font-family: "CJK";
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("/fonts/cjkFonts_allseto_v1.11.ttf")
  }
}

/* Code Blocks */
code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1rem;
  display: inline-block;
  text-align: right;
  color: rgba(129, 149, 158, 0.4)
}

img {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.bg-unknown {
  background: url("/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}