@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-ui/css/black.css';

@source '../../node_modules/fumadocs-ui/dist*.js';

@layer base {
    @font-face {
        font-family: 'CJK';
        src: url('/fonts/cjkFonts_allseto_v1.11.ttf');
    }
}

:root {
    --fd-layout-width: 100vw;
}